/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.secondSpanElementOfEntity{
  float: right;
  font-weight: bold;
}

.anEntity{
  padding: 3px;
  margin: 3px;
}

.ignoreElementDepth{
  pointer-events: none;
}

.markedAnnotation{
  color: red;
}

hr.vertical{
  height:100%; /* you might need some positioning for this to work, see other questions about 100% height */
  width:0;
  border: solid;
}
