/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.secondSpanElementOfEntity{
  float: right;
  font-weight: bold;
}

.anEntity{
  padding: 3px;
  margin: 3px;
}

.ignoreElementDepth{
  pointer-events: none;
}

.markedAnnotation{
  font-weight: bold;
}

hr.vertical{
  height:100%; /* you might need some positioning for this to work, see other questions about 100% height */
  width:0;
  border: solid;
}

.wdminidiv{
  min-height: 300px;
  width: 250px;
  border: black;
  border-style: solid;
  border-width: 2px;
}

.xsbinicon{
  background-image: url("/images/trash-bin-xs.png");
  min-width: 25px;
  max-width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.externalURILogo::before{
  content: '\01F517';
}

.internalURILogo::before{
  content: '\01F5B0'; 
}


.centerCustom{
  margin: 0 auto;
}


@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: cyan;
  }
  100% {
    border-color: transparent;
  }
}
.getAttention{
  animation: blink 1s  ease 0s 2;
  border: 5px solid transparent;
  border-radius: 10px;
}

@keyframes shake{
   0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

.animate-shake{
  animation: shake 1s ease 0s 1;
}